@page "/counter"

<PageTitle>Material Design Card</PageTitle>

<h1>Material Card</h1>

<MatCard class="card">
    <MatCardContent>
        <MatCardMedia 
            Wide="false" 
            Class="card-media"
            ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" />

        <div class="card-header">
            <MatHeadline6 class="card-title">
                Our Changing Planet
            </MatHeadline6>
            <MatSubtitle2 class="card-author">
                by Kurt Wagner
            </MatSubtitle2>
        </div>

        <MatBody2 class="card-description">
            Visit ten places on our planet that are undergoing the biggest changes today.
        </MatBody2>
    </MatCardContent>

    <MatCardActions>
        <MatCardActionButtons>
            <MatButton>Read</MatButton>
            <MatButton>Bookmark</MatButton>
        </MatCardActionButtons>

        <MatCardActionIcons>
            <MatIconButton Icon="@MatIconNames.Favorite" />
            <MatIconButton Icon="@MatIconNames.Dashboard" />
        </MatCardActionIcons>
    </MatCardActions>
</MatCard>
