@page "/counter"

<PageTitle>Material Design Card</PageTitle>

<h1>Material Card</h1>

<MatCard class="demo-mat-card">
    <MatCardContent>
        <MatCardMedia 
            Wide="false" 
            Style="height:200px" 
            ImageUrl="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" />
        
        <div class="demo-mat-card-content">
            <MatHeadline6 class="demo-mat-card-clean-margin">
                Our Changing Planet
            </MatHeadline6>
            <MatSubtitle2 class="demo-mat-card-clean-margin">
                by Kurt Wagner
            </MatSubtitle2>
        </div>

        <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
            Visit ten places on our planet that are undergoing the biggest changes today.
        </MatBody2>
    </MatCardContent>

    <MatCardActions>
        <MatCardActionButtons>
            <MatButton>Read</MatButton>
            <MatButton>Bookmark</MatButton>
        </MatCardActionButtons>

        <MatCardActionIcons>
            <MatIconButton Icon="@MatIconNames.Favorite" />
            <MatIconButton Icon="@MatIconNames.Dashboard" />
        </MatCardActionIcons>
    </MatCardActions>
</MatCard>
